*{
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: #bbb;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  top: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  font-size: 5vh;
  padding: 3vw;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover{
  background-color: #999;
}

#welcome-section {
  height: 108vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#aac 90%, rgb(150,150,250) 100%)
}

.welcome {
  text-align: center;
  font-size: 8vw;
}

#projects{
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  max-width: 100vw;
  max-height: 110vh;
  text-align: center;
  background-color: rgb(150,150,250);
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px 0;
}

.projects-link{
  text-decoration: none;
  color: #000;
}

#projects iframe{
  width: 40vw;
  height: 40vh;
  pointer-events: none;
  background-color: #fff;
}

#projects p{
  background-color: #777;
  font-size: 5vh;
  margin-top:-5px;
}

.welcome_join{
  height: 100%;
  max-width: 100vw;
  background-color: #303841;
  color: #fff;
  text-align: end;
}
.welcome_join div{
  width: 50%;
  margin: auto;
}
.welcome_join h3{
  text-align: center;
  font-size: 2rem;
}
.welcome_join p{
  text-align: center;
  font-size: 1.2rem;
}
.github-link{
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

@media (max-width:600px){
  #navbar{
    display: block;
    justify-content: center;
  }
  nav .github-link{
    display: none; 
  }
  .nav-list li {
    font-size: 5vh;
    padding-top: 0;
  }
  #projects{
    gap: 5px;
  }
  #projects iframe{
    width: 35vw;
    height: 35vh;
  }
  #projects p{
    font-size: 1.3rem;
  }
  .welcome_join p{
  font-size: 1rem;
}
.github-link{
  font-size: 1.3rem;
}
}
